* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: var(--background); */
    font-family: "Poppins";
    font-weight: bold;
}

:root {
    /* FIRST THEME */
    --result-background: #191F32;
    --number-background: #E9E3DC;
    --background: #647298;
    --equal-background: #D03F30;
    --calc-background: #262D44;

    /* SECOND THEME */
    --second-result-background: #1a502a;
    --second-number-background: #E9E3DC;
    --second-background: #3dc164;
    --second-equal-background: #D03F30;
    --second-calc-background: #2b6f3f;

    /* THIRD THEME */
    --third-result-background: #870000;
    --third-background: #d24747;
    --third-calc-background: #b72828;
    --third-equal-background: #D03F30;
    --third-number-background: #EBD4CB;
}

/* THEME COLORS */
.first-background-color {
    background-color: var(--background) !important;
    box-shadow: 0px 4px 0px hsl(224, 28%, 48%);
}
.second-background-color {
    background-color: var(--second-background) !important;
    box-shadow: 0px 4px 0px hsl(138, 73%, 41%);
}
.third-background-color {
    background-color: var(--third-background) !important;
    box-shadow: 0px 4px 0px hsl(0, 57%, 50%);
}

.first-result-color {
    background-color: var(--result-background) !important;
}
.second-result-color {
    background-color: var(--second-result-background) !important;
}
.third-result-color {
    background-color: var(--third-result-background) !important;
}

.first-calc-color {
    background-color: var(--calc-background) !important;
}
.second-calc-color {
    background-color: var(--second-calc-background) !important;
}
.third-calc-color {
    background-color: var(--third-calc-background) !important;
}

.first-number-color {
    background-color: var(--number-background) !important;
    box-shadow: 0px 4px 0px hsl(32, 42%, 79%);
}
.second-number-color {
    background-color: var(--second-number-background) !important;
    box-shadow: 0px 4px 0px hsl(97, 73%, 77%);
}
.third-number-color {
    background-color: var(--third-number-background) !important;
    box-shadow: 0px 4px 0px hsl(17, 57%, 79%);
}

.first-equal-color {
    background-color: var(--equal-background) !important;
    box-shadow: 0px 4px 0px hsl(6, 79%, 50%);
}
.second-equal-color {
    background-color: var(--second-equal-background) !important;
    box-shadow: 0px 4px 0px hsl(6, 79%, 50%);
}
.third-equal-color {
    background-color: var(--third-equal-background) !important;
    box-shadow: 0px 4px 0px hsl(6, 79%, 50%);;
}

.full-screen{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-calculator {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.first-stage {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.first-stage p, .first-stage h2 {
    margin: 0;
}
.numbers_ {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.numbers {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 5px;
    font-size: 0.8rem;
}

.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-sector{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#theme-title {
    text-transform: uppercase;
    font-size: 0.8rem;
}

#oneInput {
    width: 60px;
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 23px;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    padding: 0px 6px;
}

body[data-theme="theme1"] input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--calc-background) !important;
}
body[data-theme="theme2"] input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--second-calc-background) !important;
}
body[data-theme="theme3"] input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--third-calc-background) !important;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: var(--equal-background);
    margin-top: 4px;
    z-index: 1;
}







.second-stage {
    width: 100%;
    height: 100px;
    background-color: var(--result-background);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

#result-number {
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
}

.third-stage {
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--calc-background);
    gap: 1rem;
}

.one-button {
    width: 105px;
    height: 50px;
    /* background-color: var(--number-background); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--calc-background);
    /* box-shadow: 0px 4px 0px hsl(32, 42%, 79%); */
    cursor: pointer;
}

.numberdel {
    text-transform: uppercase;
    /* background-color: var(--background); */
    color: #fff;
    /* box-shadow: 0px 4px 0px hsl(224, 28%, 48%); */
}

.numberreset {
    flex-grow: 2;
    /* background-color: var(--background); */
    color: #fff;
    text-transform: uppercase;
    /* box-shadow: 0px 4px 0px hsl(224, 28%, 48%); */
}

.numberequal {
    flex-grow: 2;
    color: #fff;
    font-weight: bolder;
    /* background-color: var(--equal-background); */
    /* box-shadow: 0px 4px 0px hsl(6, 79%, 50%); */
}